:root {
    --bg-color: #fafafa;
    --primary-color: rgb(31, 92, 147);
    --accent-color: #eb6363;
    --transparent-accent-color: rgba(31, 92, 147, 0.8);

    --font-dm: "DM Sans", sans-serif;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
    color: var(--col-light-font);
}

body {
    font-family: var(--font-dm);
}

html {
    margin-top: 0 !important;
}

.form__accept-descr {
    display: none !important;
}

/* CSS код для хедера */

body {
    background-color: var(--color-bg);
    margin: 0;
}

.container {
    max-width: 1248px;
    margin: 0 auto;
    padding: 0 !important;
}

.header-main {
    height: 100vh;
    position: relative;
    width: 100%;
}

.header__main-cover {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 120px;
    border: 95px solid #fff;
    background: #838383;
    overflow: hidden;
    transition: all 1s ease-out;
}
.header-main.scrolled .header__main-cover {
    border: 10px solid #fff;
    border-radius: 25px;
}
.header__cover-circle-1 {
    width: 821.021px;
    height: 821.021px;
    border-radius: 821.021px;
    background: #ff4f4f;
    filter: blur(160.1470489501953px);
    position: absolute;
    top: -240px;
    left: calc(50% + 371px + 521px);
    transform: translateX(-50%);
    z-index: 1;
    animation-name: circle1;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: all 3s linear;
}
@keyframes circle1 {
    0% {
        top: -240px;
        left: calc(50% + 371px + 521px);
    }
    15% {
        top: +100px;
        left: calc(50% + 271px + 521px);
    }
    50% {
        top: +450px;
        left: calc(50% + 203px + 521px);
    }
    80% {
        top: +150px;
        left: calc(50% + 250px + 521px);
    }
    100% {
        top: -240px;
        left: calc(50% + 371px + 521px);
    }
}

.header__cover-circle-2 {
    width: 846.644px;
    height: 846.644px;
    border-radius: 846.644px;
    background: #4eaaff;
    filter: blur(160.1470489501953px);
    position: absolute;
    top: -175px;
    left: calc(50% + 271px);
    transform: translateX(-50%);
    animation-name: circle2;
    animation-duration: 13s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: all 3s linear;
}
@keyframes circle2 {
    0% {
        top: -175px;
        left: calc(50% + 271px);
    }
    15% {
        top: -308px;
        left: calc(50% + 101px + 600px);
    }
    50% {
        top: +95px;
        left: calc(50% + 200px + 600px);
    }
    80% {
        top: -280px;
        left: calc(50% + 130px + 600px);
    }
    100% {
        top: -175px;
        left: calc(50% + 271px);
    }
}

.header__cover-circle-3 {
    width: 434.532px;
    height: 434.532px;
    border-radius: 434.532px;
    background: #4eaaff;
    filter: blur(160.1470489501953px);
    position: absolute;
    top: 650px;
    left: calc(50% + 681px + 400px);
    transform: translateX(-50%);
    animation-name: circle3;
    animation-duration: 13s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: all 3s linear;
}
@keyframes circle3 {
    0% {
        top: 650px;
        left: calc(50% + 681px + 400px);
    }
    15% {
        top: 390px;
        left: calc(50% + 148px + 400px);
    }
    50% {
        top: 600px;
        left: calc(50% - 68px + 400px);
    }
    80% {
        top: 500px;
        left: calc(50% + 200px + 400px);
    }
    100% {
        top: 650px;
        left: calc(50% + 681px + 400px);
    }
}

.header__cover-circle-4 {
    width: 638.453px;
    height: 638.453px;
    border-radius: 638.453px;
    background: #4eaaff;
    filter: blur(160.1470489501953px);
    position: absolute;
    top: 400px;
    left: calc(50% + 300px + 500px);
    transform: translateX(-50%);
    animation-name: circle4;
    animation-duration: 13s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: all 3s linear;
}
@keyframes circle4 {
    0% {
        top: 400px;
        left: calc(50% + 300px + 500px);
    }
    15% {
        top: 500px;
        left: calc(50% + 430px + 500px);
    }
    50% {
        top: 650px;
        left: calc(50% - 200px + 500px);
    }
    80% {
        top: 190px;
        left: calc(50% - 300px + 500px);
    }
    100% {
        top: 400px;
        left: calc(50% + 300px + 500px);
    }
}

.header__cover-circle-5 {
    width: 638.453px;
    height: 638.453px;
    border-radius: 638.453px;
    background: #4eaaff;
    filter: blur(160.1470489501953px);
    position: absolute;
    top: 650px;
    left: calc(50% + 440px + 500px);
    transform: translateX(-50%);
    animation-name: circle5;
    animation-duration: 13s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: all 3s linear;
}
@keyframes circle5 {
    0% {
        top: 650px;
        left: calc(50% + 440px + 500px);
    }
    15% {
        top: 630px;
        left: calc(50% - 70px + 500px);
    }
    50% {
        top: 350px;
        left: calc(50% + 140px + 500px);
    }
    80% {
        top: 670px;
        left: calc(50% - 70px + 500px);
    }
    100% {
        top: 650px;
        left: calc(50% + 440px + 500px);
    }
}

.header__cover-circle-6 {
    width: 845.576px;
    height: 845.576px;
    border-radius: 845.576px;
    background: #ff9e44;
    filter: blur(240.22056579589844px);
    position: absolute;
    top: 510px;
    left: calc(50% - 490px - 400px);
    transform: translateX(-50%);
    animation-name: circle6;
    animation-duration: 13s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: all 3s linear;
}
@keyframes circle6 {
    0% {
        top: 510px;
        left: calc(50% - 490px - 400px);
    }
    15% {
        top: 260px;
        left: calc(50% - 360px - 400px);
    }
    50% {
        top: -350px;
        left: calc(50% - 10px - 400px);
    }
    80% {
        top: 400px;
        left: calc(50% - 330px - 400px);
    }
    100% {
        top: 510px;
        left: calc(50% - 490px - 400px);
    }
}

.header__cover-circle-7 {
    width: 845.576px;
    height: 845.576px;
    border-radius: 845.576px;
    background: #ff9e44;
    filter: blur(240.22056579589844px);
    position: absolute;
    top: 40px;
    left: calc(50% - 70px);
    transform: translateX(-50%);
    animation-name: circle7;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: all 3s linear;
}
@keyframes circle7 {
    0% {
        top: 40px;
        left: calc(50% - 70px);
    }
    15% {
        top: -140px;
        left: calc(50% + 150px);
    }
    50% {
        top: 500px;
        left: calc(50% - 220px - 400px);
    }
    80% {
        top: -350px;
        left: calc(50% - 120px - 400px);
    }
    100% {
        top: 40px;
        left: calc(50% - 70px);
    }
}

.header__cover-circle-8 {
    width: 774.044px;
    height: 774.044px;
    border-radius: 774.044px;
    background: #4eaaff;
    filter: blur(213.52940368652344px);
    position: absolute;
    top: 560px;
    left: calc(50% + 20px - 600px);
    transform: translateX(-50%);
    animation-name: circle8;
    animation-duration: 13s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: all 3s linear;
}
@keyframes circle8 {
    0% {
        top: 560px;
        left: calc(50% + 20px - 600px);
    }
    15% {
        top: -126px;
        left: calc(50% - 60px - 600px);
    }
    50% {
        top: -300px;
        left: calc(50% - 300px + 600px);
    }
    80% {
        top: 200px;
        left: calc(50% - 40px + 600px);
    }
    100% {
        top: 560px;
        left: calc(50% + 20px - 600px);
    }
}

.header__cover-circle-9 {
    width: 722.797px;
    height: 722.797px;
    border-radius: 722.797px;
    background: #ff9e44;
    filter: blur(240.22056579589844px);
    position: absolute;
    top: 560px;
    left: calc(50% + 180px - 550px);
    transform: translateX(-50%);
    animation-name: circle9;
    animation-duration: 13s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: all 3s linear;
}
@keyframes circle9 {
    0% {
        top: 560px;
        left: calc(50% + 180px - 550px);
    }
    15% {
        top: 650px;
        left: calc(50% + 240px - 550px);
    }
    50% {
        top: 600px;
        left: calc(50% + 60px + 550px);
    }
    80% {
        top: 650px;
        left: calc(50% - 130px + 550px);
    }
    100% {
        top: 560px;
        left: calc(50% + 180px - 550px);
    }
}

.header__cover-circle-10 {
    width: 950.206px;
    height: 759.097px;
    border-radius: 950.206px;
    background: #ff4f4f;
    filter: blur(240.22056579589844px);
    position: absolute;
    top: -180px;
    left: calc(50% - 180px - 750px);
    transform: translateX(-50%);
    animation-name: circle10;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: all 3s linear;
}
@keyframes circle10 {
    0% {
        top: -180px;
        left: calc(50% - 180px - 750px);
    }
    35% {
        top: -370px;
        left: calc(50% - 60px - 750px);
    }
    60% {
        top: -300px;
        left: calc(50% + 75px + 750px);
    }
    75% {
        top: -400px;
        left: calc(50% - 530px + 750px);
    }
    100% {
        top: -180px;
        left: calc(50% - 180px - 750px);
    }
}

.header__cover-circle-11 {
    width: 715.324px;
    height: 715.324px;
    border-radius: 715.324px;
    background: #ff4f4f;
    filter: blur(224.20587158203125px);
    position: absolute;
    top: 500px;
    left: calc(50% + 20px + 450px);
    transform: translateX(-50%);
    animation-name: circle11;
    animation-duration: 13s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: all 3s linear;
}
@keyframes circle11 {
    0% {
        top: 500px;
        left: calc(50% + 20px + 450px);
    }
    15% {
        top: 720px;
        left: calc(50% - 230px + 450px);
    }
    50% {
        top: 10px;
        left: calc(50% - 430px - 450px);
    }
    80% {
        top: 700px;
        left: calc(50% + 300px - 450px);
    }
    100% {
        top: 500px;
        left: calc(50% + 20px + 450px);
    }
}

.header__top.main {
    padding-top: 10px;
    height: 75px;
    width: 100%;
}

.header__top.main .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    max-width: 1248px;
    height: 100%;
}

.header__top-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}
.header__top-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;

    &::after {
        content: "";
        width: 16px;
        height: 16px;
        position: absolute;
        left: calc(50% - 80px);
        top: -6px;
        background: url(../img/header-logo-cover-left.svg);
    }
    &::before {
        content: "";
        width: 16px;
        height: 16px;
        position: absolute;
        left: calc(50% + 63.5px);
        top: -6px;
        background: url(../img/header-logo-cover-right.svg);
    }
}
.header__top-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}
.header__menu-link {
    color: #fff;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.header__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 139px;
    height: 65px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: #fff;
    position: relative;
    top: -70px;
    transition: all 1s ease-out;
    transition-delay: .5s;


}
.header-main.scrolled .header__logo {
    top: 0;
}
.header__bottom {
    height: calc(100% - 85px);
}
.header__bottom-content {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 25px;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    padding-bottom: 55px;
}
.header__bottom-upper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header__version {
    color: rgba(255, 255, 255, 0.25);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 30px;
}
.header__title {
    color: #fff;
    font-size: 80px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.header__descr {
    color: rgba(255, 255, 255, 0.75);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
    margin-bottom: 15px;
}
.header__btn {
    border-radius: 10px;
    border: 2px solid #fff;
    padding: 8px 28px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 75px;
}
.header__bottom-lower {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    a {
        color: #fff;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}
#menu {
    display: none;
}

@media (max-width: 1250px) {
    .header__top {
        padding: 0 20px;
    }
}

@media (max-width: 1050px) {
    .header__bottom .container {
        margin-left: 0 !important;
    }
}

@media (max-width: 950px) {
    #menu {
        display: block;
    }

    .header__btn-menu {
        display: block !important;
    }

    .header__menu-right ul {
        display: none;
    }

    .slideout-menu {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 256px;
        min-height: 100vh;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        z-index: 0;
        display: none;
    }

    .slideout-menu-left {
        left: 0;
    }

    .slideout-menu-right {
        right: 0;
    }

    .menu-mob__title {
        color: #fff;
        opacity: 0.3;
        margin-bottom: 15px;
        font-size: 20px;
        font-family: var(--font-dm);
    }

    .header__mob-btn {
        width: 100%;
        margin-top: 40px;
    }

    .slideout-panel {
        position: relative;
        z-index: 1;
        will-change: transform;
        background-color: #fafafa;
        /* A background-color is required */
        min-height: 100vh;
    }

    .slideout-open,
    .slideout-open body,
    .slideout-open .slideout-panel {
        overflow: hidden;
    }

    .slideout-open .slideout-menu {
        display: block;
        display: block;
        background: linear-gradient(35deg, #1f5c93, rgba(31, 92, 147, 0.8));
        box-shadow: inset -10px 0px 25px rgba(0, 0, 0, 0.25);
    }

    #menu ul {
        padding: 30px;
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    #menu ul li {
        font-size: 16px;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.7);
    }

    .header__top .container {
        padding: 0 30px;
    }

    .header__title {
        font-size: 45px;
        line-height: 65px;
        max-width: 500px;
    }

    .header__title span {
        font-size: 65px;
        line-height: 75px;
    }

    .header__descr {
        font-size: 16px;
        line-height: 22px;
    }
}

@media (max-width: 550px) {
    .header__title {
        font-size: 35px;
        line-height: 55px;
    }

    .header__title span {
        font-size: 50px;
        line-height: 65px;
    }

    .header__descr {
        font-size: 14px;
        line-height: 20px;
    }
}

@media (max-width: 450px) {
    .header__title {
        font-size: 26px;
        line-height: 30px;
    }

    .header__title span {
        font-size: 32px;
        line-height: 65px;
    }

    .header__descr {
        font-size: 14px;
        line-height: 20px;
        max-width: 220px;
    }

    .header__logo img {
        max-height: 35px;
    }

    .header__logo {
        height: 35px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header__btn {
        margin-bottom: 100px;
    }

    .header__mob-btn {
        width: 100%;
        margin-left: 0;
        font-size: 14px;
        margin-top: 30px;
        opacity: 0.9;
    }
}

@media (min-width: 950px) {
    #panel {
        transform: none !important;
    }

    .header__menu-right ul {
        display: flex;
    }
}

@media (min-width: 1500px) {
    .header__bottom .container {
        margin: 0 auto !important;
    }

    .header__title {
        text-align: center;
    }

    .header__descr {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 25px;
    }

    .chevron-link {
        margin: 0 auto;
    }
}
